*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;

    background-image:url("../assets/bgquiz.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    color:white;
}

.quiz-container{
    padding:150px 50px;
}

.quiz-container h1{
    margin-bottom:50px;
    font-size:50px;
}

.quiz-content{
    display:flex;
    gap:50px;
}

.question-box{

    width:60%;

    background:#12144f;

    padding:40px;

    font-size:30px;

    line-height:1.8;
}

.answer-box{

    width:40%;

    display:flex;

    flex-direction:column;

    gap:20px;
}

.answer-box button{

    padding:20px;

    font-size:30px;

    border:none;

    cursor:pointer;

    background:#12144f;

    color:white;

    transition:0.3s;
}

.answer-box button:hover{

    opacity:0.9;
}

#feedback{

    margin-top:50px;

    background:#12144f;

    padding:30px;

    font-size:24px;

    line-height:1.8;
}

.benar{
    background:green !important;
}

.salah{
    background:red !important;
}

.next-container{

    display:flex;

    justify-content:flex-end;

    margin-top:20px;
}

#nextBtn{

    padding:15px 30px;

    border:none;

    border-radius:5px;

    font-size:20px;

    cursor:pointer;

    background:white;

    color:black;
}

#nextBtn:disabled{

    opacity:0.5;

    cursor:not-allowed;
}