*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;

    background-image:url("../assets/background.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    color:white;
}

.quiz-container{
    padding:150px 50px;
}

.quiz-container h1{

    font-size:50px;

    margin-bottom:50px;
}

.quiz-content{

    display:flex;

    gap:50px;
}

.question-box{

    width:60%;

    background:#12144f;

    padding:40px;

    border-radius:10px;

    font-size:28px;

    line-height:1.8;
}

.question-header{

    display:flex;

    justify-content:space-between;

    align-items:center;
}

#skorBox{

    background:#1d2475;

    color:#ffd700;

    border:2px solid #ffd700;

    padding:10px 20px;

    border-radius:30px;

    font-size:20px;

    font-weight:bold;
}

.answer-box{

    width:40%;

    display:flex;

    flex-direction:column;

    gap:20px;
}

.answer-box button{

    padding:20px;

    border:none;

    cursor:pointer;

    font-size:24px;

    text-align:left;

    background:#12144f;

    color:white;

    border-radius:10px;

    transition:0.3s;
}

.answer-box button:hover{

    transform:translateY(-2px);
}

.benar{

    background:green !important;
}

.salah{

    background:red !important;
}

#feedback{

    margin-top:40px;

    background:#12144f;

    padding:30px;

    border-radius:10px;

    font-size:22px;

    line-height:1.8;
}

.next-container{

    display:flex;

    justify-content:flex-end;

    margin-top:20px;
}

#nextBtn{

    padding:15px 30px;

    border:none;

    border-radius:8px;

    background:white;

    color:black;

    font-size:18px;

    cursor:pointer;
}

#nextBtn:disabled{

    opacity:0.5;

    cursor:not-allowed;
}

.result-box{

    width:100%;

    background:#12144f;

    padding:60px;

    border-radius:10px;

    text-align:center;
}

.result-box h1{

    font-size:50px;

    margin-bottom:30px;
}

.score-circle{

    width:180px;
    height:180px;

    margin:20px auto;

    border-radius:50%;

    border:8px solid #ffd700;

    display:flex;

    justify-content:center;
    align-items:center;

    font-size:55px;

    font-weight:bold;

    color:#ffd700;
}

.result-box h2{

    margin-top:20px;

    font-size:35px;
}

.result-box p{

    margin-top:20px;

    font-size:22px;

    line-height:1.8;
}